.Central {
    margin: auto;
    margin-top: 50px;
    padding-left: 200px;
    width: 400px;
    background-color: rgb(245, 213, 166);
    border: 3px solid black;
    border-radius: 20px;
    list-style-type: none;
}